@use "./mixin.scss" as *;

//primary color
$primary-color1: #9c6bff;
$primary-color2: #ff857f;
$primary-color3: #ffd166;
$primary-color4: #3ea6ff;

//secondary color
$secondary-color1: #ffffff;
$secondary-color2: #000000;
$secondary-color3: #f5ebff;
$secondary-color4: #b394ff;

//screen
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//display
$display: flex;

//font

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 600;

  @include tablet {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 600;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;
  }
}

h4 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}

p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 400;
  }
}

$base-font-size: 16px;
$large-font-size: 1.8rem;
$medium-font-size: 1.6rem;
$small-font-size: 1.4rem;

$border-radius: 0.75rem;
