@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixin.scss" as *;

.footer {
  display: $display;
  justify-content: center;
  align-items: center;

  color: $secondary-color2;
  padding: 2rem 1rem 2rem 1rem;
  bottom: 0;
  width: -webkit-fill-available;

  @include tablet {
    padding: 3.6rem 2.4rem 3.6rem 2.4rem;
  }

  @include desktop {
    padding: 4.8rem 3.6rem 4.8rem 3.6rem;
  }

  &__nav-list {
    display: $display;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}
